.jeu-et-point {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.règles {
  width: 100%;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
  text-align: center;
  margin-top: 20px;
}


/* PLATEAU DE JEU */

.grille-jeu {
  min-width: 50%;
}
.ligne {
  display: flex;
}
.case {
  width: 55px;
  height: 28px;
  border: 1px solid #ccc;
}

.remplie {
  background-color: white;
}



.profil-joueur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30%;
}

.user {
  color: white;
  text-align: center;
  border-radius: 15px;
  border: 2px solid white;
  padding: 40px;
  width: fit-content; 
  max-width: 100%;
  margin-top: 40px; ;
}
